@media (max-width:800px) {
    .top {
        margin: 0 50px;
    }
    .grid2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    }
    .grid-foot {
        grid-template-columns: repeat(1, 1fr);
        justify-items: left;
    }
    p, a {
        font-size: 17px;
    }
    .header-title {
        font-size: 130px;
    }
    .blog-post-title {
        font-size: 10vw;
        letter-spacing: 2px;
    }
    .footer-subtitle {
        font-size: 4vw;
    }
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .navigation {
        position: fixed;
        width: 100%;
        height: auto;
        background: rgb(61, 61, 61);
        top: -100%;
        left: 0;
        padding: 25px 0px;
        transition: 1s;
    }
    .navigation li {
        width: 100%;
    }
    .navigation li a {
        color: white;
        padding: 15px 30px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    #toggle-btn:checked~nav .navigation {
        top: 0px;
    }
}

@media (min-width:1500px) {
    .footer-subtitle {
        font-size: 30px;
    }
    .footer-copyright {
        font-size: 18px;
    }
    .header-title {
        font-size: 130px;
    }
    .top {
        margin: 0 200px;
    }
}